.fishList {
    background-color: mediumorchid;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.fish {
    background-color: mediumvioletred;
    max-width: 30%;
    margin: 2em;
}


.fish__picture {
    max-width: 15rem;
    max-height: 15rem;
}