.locationList {
    background-color: mediumaquamarine;
}

.location {
    background-color: mediumseagreen;
    width: 100%;
    margin: 2rem 0;
    padding: 1rem 1.4rem;
}


.location__picture {
    max-width: 15rem;
    max-height: 15rem;
}