@import "fish.css";
@import "locations.css";
@import "tips.css";
@import "quotes.css";
@import "banner.css";
@import "customization.css";


.container {
    display: flex;
    flex-direction: column;
    background-image: url("http://1-background.com/images/water-1/water-ocean-water-background.jpg");
    background-color: lightskyblue;
}

.underTheBanner {   
    display: flex;
    flex-direction: row;
}

.underTheBanner__left {
    display: flex;
    flex-direction: column;
    flex: 3.5;
}

.underTheBanner__right {
    flex: 1;
}

.hidden {
    display:none;
}