.quoteList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.quote {
    background-color: rgba(173, 216, 230, 0.7);
    max-width: 25%;
    font-family: Candara, sans-serif;
    font-size: .8rem;
    font-style: italic;
}

.quote cite {
    font-style: normal;
}